


$susy: (
  // flow: rtl,
  columns: 5,
  gutters: 1/5,
  // column-width: 80px,
  math: fluid,
  output: float,
  gutter-position: split,
  // global-box-sizing: content-box,
  debug: (
     // image: hide
    image: show-columns
    // image: true
    // output: overlay
    // toggle: top right
  
    )
);










































