

// @import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css)



.clear
	clear: both
.clearfix:before,.clearfix:after
	content: ""		
	display: table
.clearfix:after
	clear: both
.clearfix
	zoom: 1 /* ie 6/7 */


.questionnaire
	width: 100%
	margin-top: 30px
	h6 
		margin-bottom: 5px
		margin-top: 15px
		color: #222
	.check_item
		float: left
		margin-right: 20px
	.input_item
		float: left
		margin-right: 20px	
		input[type=text]
			// height: 2px
			margin-top: 10px
			padding: 10px
			font-size: 14px
			color: #222
			border: 1px solid #c0c0c0

		input::placeholder 
			color: #eee
			font-weight: 100
		textarea
			width: 450px



	table
		border-collapse: collapse
		border-spacing: 0
		margin-bottom: 20px
		tr
			td 
				border: 1px solid #c0c0c0
				padding: 8px 15px
				font-size: 14px


.faq_for_half
	width: 50%
	float: left

.faq_form label 
	width: 120px

.submit_m
	display: block
	width: 120px
	margin: 0 auto
	padding: 5px 0
	text-align: center
	background-color: #888
	color: #FFF


.table_desktop
	table
		border-collapse: collapse
		border-spacing: 0
		margin-bottom: 20px
		width: 100%
		tr
			th 
				border: 1px solid #c0c0c0
				padding: 8px 15px
				font-size: 14px
				font-weight: bolder
				text-align: left
			td 
				border: 1px solid #c0c0c0
				padding: 8px 15px
				font-size: 14px
				text-align: left
				p 
					margin-bottom: 0
				img 
					margin: 10px !important



.common_article
	img
		display: block
		margin: 50px auto
