{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<article class="common_article">
<h1 class="title_h2">誠信治理</h1>
<p>台灣高鐵秉持「有心 把事情做得更好」（Go Extra Mile）的精神與「企業永續」之理念，將社會責任視為公司核心價值。台灣高鐵於2009年起規劃任務型之「企業社會責任委員會」（以下簡稱CSR委員會），將公司參與經營決策的高階主管及一級單位代表納入CSR委員會，並由該委員會主導負責協調各事業單位推動準備工作。
CSR委員會設置「指導委員」及「主任委員」，分別由董事長及執行長擔任，並遴選相關部門最高主管擔任委員，每年不定期召開CSR委員會議，討論公司治理、環境意識、消費者關懷等議題。台灣高鐵企業社會責任報告書經定期提報CSR委員會核定後，正式對外發布。
董事會於2016年3月通過「企業社會責任實務守則」，實踐企業社會責任，積極推動公司治理、社會公益和落實環境永續，並將其納入公司營運策略與管理目標。</p>



</article>

{% endblock %} 