{# index.twig #}
{% extends "/_template/layout_m.twig" %}
{% block page_m %}



<article class="common_article">
	<h1 class="title_h2">永續承諾</h1>
	<div class="articleTitle">
		<h2 class="articleTitleContent">社區對話</h2>
	</div>

	<p>我們關心台灣土地與沿線居民，各車站業務專員不定期參與活動，與地方意見領袖和居民溝通。同時持續透過環境管理系統，執行環境監測及環境保護工作，使環保防治項目皆符合法令要求。針對目前沿線居民最常反應之高鐵橋下環境及噪音問題，定期整理橋下環境及水路設施，並採行住家隔音門窗或加建隔音牆等改善措施，減輕噪音影響。
	</p>
	<p>從2007至2016年噪音防制改善費用已達15,434.4萬元，其中隔音牆增設費用12,969.4萬元，住家噪音防制改善費用2,465萬元。就2015年噪音防制費用為134.4萬元，2016年費用為29.6萬元，分別是在噪音符合標準情形下，辦理沿線10處及2處住家之辦理隔音窗改善，具體展現本公司關懷民眾身心健康之企業責任。
	</p>
	
	<div class="articleTitle">
		<h2 class="articleTitleContent">水雉復育</h2>
	</div>
	<p>台灣高鐵執行臺南官田地區水雉保育工作，除環評承諾事項外，亦全力協助水雉人造棲地營造，並於水雉教育園區成立後，每年持續贊助園區管理單位。自2000年迄今投入六千多萬元，於臺南市官田區打造國內第一個由政府、開發單位及民間社團三方合作的人造棲地復育工程，帶動志工參與，與專家學者配合，使臺南境內水雉族群量明顯增加，水雉人造棲地面積約15公頃，依據臺南市野鳥學會統計資料，已由2000年9隻（雌鳥+雄鳥+雛鳥成長數）大幅成長至2015年239隻，2016年251隻；隨著水雉族群的棲息面積擴大，臺南地區之水雉數量2015年最大成鳥數成長至711隻，2016年成長至1,272隻。</p>
	
	
</article>


{% endblock %} 