{# index.twig #}
{% extends "/_template/layout_m.twig" %}
{% block page_m %}


<article class="common_article">
	<h1 class="title_h2">環境管理</h1>
	<div class="articleTitle">
		<h2 class="articleTitleContent">運輸與環境</h2>
	</div>

	<p>台灣高鐵是高運載、省能源及低污染的交通運輸系統，提供乘客舒適的旅程服務是我們的經營理念，而環境政策則是我們善盡企業責任的承諾。
	</p>

	<div style="overflow: auto" class="table_m">  
		<table align="center" border="0" cellpadding="0" cellspacing="1" style="color: rgb(0, 0, 0); line-height: 22px; " >
			<tr >
				<th>台灣高鐵環境政策</th>
			</tr>
			<tr>
				<td>
					<p>保是台灣高速鐵路股份有限公司之承諾。</p>
					<p>台灣高鐵願遵守國內相關環保法令，並履行對環保的承諾。</p>
					<p>台灣高鐵會持續致力於環境績效的改善工作，制定並定期審查環境目標，以確保在辦理高鐵日常營運作業時，採用適當的程序及資源來預防或減輕對環境可能造成的衝擊。</p>
					<p>台灣高鐵藉由訓練強化員工對於環保相關標準與程序的認知與執行能力。</p>
					<p>台灣高鐵要求所有廠商，於承辦與台灣高鐵有關的一切工程、作業或活動時，均必須遵守合理可行的環境管理程序。</p>
					<p>台灣高鐵將秉持開放的態度，持續與政府、乘客以及社會公眾就環境政策與執行成果進行溝通。</p>
				</td>
		
			</tr>		
			
		</table>
	</div>

	<p>我們以環境政策為基礎，建立環境管理組織，落實執行從興建到營運階段整體之環境保護工作。台灣高鐵接受交通部、環保署等政府機關審核與衡量，依據評估結果制定相關降低環境衝擊等措施。</p>

	<p>2015和2016年於環境保護工作上支出之總金額達1.5億元，項目包含環保環評監測（含苗栗、彰化及雲林三站）500萬元，環保環境研究（含水雉復育、噪音研究及土木計畫）650萬元，及環保污染防治（車站及基地廢污水處理及廢棄物處理操作與維護）1.4億元。</p>
	
</article>



{% endblock %} 