{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<article class="common_article">
	<h1 class="title_h2">安全運輸</h1>

	<p>安全是台灣高鐵最重要的基石，旅運人次在2016年12月4日突破4億，每日平均運量達15萬3千人次，我們肩負著每位乘客安全與品質的旅運需求，所有決策與行動均以安全為最高指導原則，以確保旅客、員工及其他公眾之安全。</p>
	
	<div class="articleTitle">
		<h2 class="articleTitleContent">安全管理</h2>
	</div>	

	<p>台灣高鐵安全管理以「營運安全計畫」為主軸，為最高位階之安全規章，以其建構台灣高鐵安全管理系統，貫徹安全管理原則、策略以及實施措施。「營運安全計畫」整合鐵路營運維修作業、高鐵系統及相關新業務、開發與執行等，並融合P-D-C-A（規劃-執行-查核-行動）循環原理，透過12項安全管理要素之執行與持續改善，有效達成組織政策目標及全員參與</p>

	<img src="http://www.thsrc.com.tw/event/tmp/img/d01.jpg" alt="">

	<div class="articleTitle">
		<h2 class="articleTitleContent">安全管理機制</h2>
	</div>	

	<p>我們設置不同層級之安全委員會，包括公司層級之營運安全委員會、處級安全委員會與因應功能性與特殊性管理需要而設立之次級委員會等，如危害審查小組與營運施工安全介面審議委員會等，提供管理人員與員工共同參與安全管理實施情形與相關改善對策之平台，共同確認鐵路安全。</p>
	
	<div class="word_size">
		<table width="100%">
			<tr>
				<th bgcolor="#db5106" scope="col" style="padding:8px; color:#FFF;" width="30%">安全委員會名稱</th>
				<th bgcolor="#db5106" scope="col" style="color:#FFF;" width="70%">主要任務及成員</th>
			</tr>
			<tr>
				<th bgcolor="#EFEFEF" scope="col" style="padding:8px;">營運安全委員會</th>
				<td align="left" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">制定台灣高鐵安全政策及安全策略方向。</p>
					<p style="margin: 0">由執行長擔任主席、成員包括職業安全衛生室、營運安全室之主管，及其他由執行長指派之高階主管。</p>
				</td>
			
			</tr>
			<tr>
				<th bgcolor="#EFEFEF" scope="col" style="padding:8px;">營運安全委員會</th>
				<td align="left" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">負責各處之日常運作並持續監控自身安全管理系統之運作。</p>
					<p style="margin: 0">安全管理系統執行成效應向營運安全委員會報告。</p>
					<p style="margin: 0">負責發展及審議符合公司安全目的之安全管理策略、監督審查安全執行績效，以確認公司所有作業能於安全管理系統中有效運作。</p>
					<p style="margin: 0">處級主管擔任主席，委員由主席指定。</p>
				</td>
			
			</tr>		
			<tr>
				<th bgcolor="#EFEFEF" scope="col" style="padding:8px;">功能性次級委員會</th>
				<td align="left" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">相關次級委員會包括：</p>
					<p style="margin: 0">運務分處安全委員會</p>
					<p style="margin: 0">維修分處安全委員會</p>
					<p style="margin: 0">危害審查小組</p>
					<p style="margin: 0">安全規章審查委員會</p>
					<p style="margin: 0">營運施工安全介面審議委員會*</p>
				</td>
			
			</tr>
		</table>
	</div>
	<br>	
	<p>落實營運安全，我們進行縝密安全政策規劃，透過各層級安全委員會擬定策略與監督，讓每位員工了解並貫徹公司安全規範，以提供旅客和人員安全優先的營運環境。
	</p>

	<img src="http://www.thsrc.com.tw/event/tmp/img/d02.jpg" alt="">
	
	<h1 class="title_h2">安全且具品質的服務</h1>
	<div class="articleTitle">
		<h2 class="articleTitleContent">品質管理系統</h2>
	</div>

	<p>為不斷提升營運及維修作業品質，委由外部第三方進行ISO 9001驗證，於2010年由車輛維修率先通過驗證，其後逐步擴大驗證範圍，2012年整體核心業務「高速鐵路營運、維修及旅客服務」順利通過驗證，其後每三年一度之換證驗證，期間未發現不符合事項。此外，政府亦扮演外部品保檢查角色，由交通部高速鐵路工程局每年進行高鐵營運定期檢查、臨時檢查等項目。台灣高鐵於2011年推出員工提案改善制度，鼓勵員工參與，讓品質與服務更貼近顧客需求。也導入品管圈（QCC，Quality Control Circle）活動，帶動全公司持續提升品質、安全及營運效率，除改善整體作業時效外，亦達到降低營運成本等正面效益。
	</p>
	
	<div class="word_size">
		<table width="100%">
			<tr>
				<th bgcolor="#db5106" scope="col" style="padding:8px; color:#FFF;" width="15%">年度</th>
				<th bgcolor="#db5106" scope="col" style="color:#FFF;" width="15%">提案數量</th>
				<th bgcolor="#db5106" scope="col" style="color:#FFF;" width="15%">可排入審查會</th>
				<th bgcolor="#db5106" scope="col" style="color:#FFF;" width="15%">已排入審查會</th>
				<th bgcolor="#db5106" scope="col" style="color:#FFF;" width="10%">待排入審查會</th>
				<th bgcolor="#db5106" scope="col" style="color:#FFF;" width="10%">結案數量</th>
			</tr>
			<tr>
				<th bgcolor="#EFEFEF" scope="col" style="padding:8px;">2015</th>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">127</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">27</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">27</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">---</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">94</p>
				</td>
			</tr>
			<tr>
				<th bgcolor="#EFEFEF" scope="col" style="padding:8px;">2016</th>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">202</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">41</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">23</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">18</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">143</p>
				</td>
			</tr>
		</table>
	</div>

	<br><br>

	<div class="articleTitle">
		<h2 class="articleTitleContent">形態管理</h2>
	</div>

	<p>台灣高鐵除依據安全與品質系統管理架構出公司品質脈絡外，也採用形態管理（Configuration Management），作為安全與品質管控的管理機制。同時參照ISO 10007 形態管理指導綱要，識別並建立高速鐵路系統之八大主要系統形態基線（Configuration Baseline）資料，分類列管高鐵系統形態項目，並將持續辦理形態變更管制、形態稽核以及形態狀況報告等形態管理活動。
	</p>

	<h3>形態基線鑑識內容</h3>
	<div class="word_size">
		<table width="100%">
			<tr>
				<th bgcolor="#db5106" scope="col" style="padding:8px; color:#FFF;" width="40%">項目</th>
				<th bgcolor="#db5106" scope="col" style="color:#FFF;" width="60%">內容</th>
			</tr>
			<tr>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">主要項目類別</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">核心、道旁設備、軌道、閉路電視、土建、車站、基地、基地設備</p>
				</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">總列管項目</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">35,277項</p>
				</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">形態列管百分比</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">81.41%</p>
				</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">查證方式/頻率</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">品保室內部查證/每季一次</p>
				</td>
			</tr>
			
		</table>
	</div>

	<br><br>

	<div class="articleTitle">
		<h2 class="articleTitleContent">品管指標</h2>
	</div>
	<p>台灣高鐵自2008年起於內部宣導並建立量化之品質主要績效指標 （QKPI），以持續改進各項作業，亦自2011年起每季追蹤各單位QKPI執行情形，並針對未達目標之相關作業，進行檢討與作業改進。我們經由各項品質監督及品質稽核作業，確保高鐵營運在旅客安全、可靠、效率及顧客滿意度等四大類別績效達成目標。自營運迄今未有歸責於高鐵營運而致旅客發生重傷及死亡之案件，受傷率指標均達成目標。
	</p>


	<h3>品質績效指標</h3>
	<div class="word_size">
		<table width="100%">
			<tr>
				<th bgcolor="#db5106" scope="col" style="padding:8px; color:#FFF;" width="10%"></th>
				<th bgcolor="#db5106" scope="col" style="color:#FFF;" width="25%"></th>
				<th bgcolor="#db5106" scope="col" style="color:#FFF;" width="25%"></th>
				<th bgcolor="#db5106" scope="col" style="color:#FFF;" width="10%">2015</th>
				<th bgcolor="#db5106" scope="col" style="color:#FFF;" width="10%">2015</th>
				<th bgcolor="#db5106" scope="col" style="color:#FFF;" width="10%">2016</th>
				<th bgcolor="#db5106" scope="col" style="color:#FFF;" width="10%">2016</th>
			</tr>
			<tr>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">面向</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">項目</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">公式</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">目標/預估值</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">達成值</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">目標/預估值</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">達成值</p>
				</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">安全</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">旅客受傷率（輕傷且就醫）</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">旅客受傷率（輕傷且就醫）/每百萬旅次</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0"> <0.10 </p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">0</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0"> <0.08 </p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">0</p>
				</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">安全</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">旅客受傷率（輕傷且就醫）</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">旅客受傷率（輕傷且就醫）/每百萬旅次</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0"> <0.10 </p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0"> 0.04 </p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0"> <0.08 </p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0"> 0 </p>
				</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">安全</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">旅客受傷率（輕傷）</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">旅客受傷率（輕傷）/每百萬旅次</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0"> <0.26 </p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0"> 0.04 </p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0"> <0.20 </p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">0.05</p>
				</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">可靠</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">五分鐘準點率</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">延誤小於5分鐘之班次數/載客營運班次數</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0"> >98.9% </p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0"> 99.77% </p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0"> >99.0% </p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0"> 99.58% </p>
				</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">可靠</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">AFCS車站設備妥善率</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0"> [（每季主要設備運轉的總時數 -每季主要設備停擺的時數）/每季主要設備運轉的總時數 ]*100% </p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0"> 99.60 </p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0"> 99.99% </p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0"> 99.60 </p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0"> 99.99% </p>
				</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">效率</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">如期如質達成後續新建工程完工通車目標</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0"> 2015: 新增三站於2015/12/1 通車營運 <br>
					2016: 南港站於2016/7/1 通車營運</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0"> 苗栗、彰化、雲林站2015/12/01通車營運 </p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0"> 如期完成 </p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0"> 南港站 2016/07/01通車營運 </p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0"> 如期完成 </p>
				</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">顧客滿意</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">整體服務滿意度</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0"> 滿意度係回答5分與4分/全部受訪人數</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0"> ≧94% </p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0"> 93% </p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0"> ≧94% </p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0"> 94% </p>
				</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">顧客滿意</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">顧客意見回覆達成率</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0"> 7工作天內完成回覆之案件/總案件量 </p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0"> ≧99% </p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0"> 100% </p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0"> ≧99% </p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0"> 100% </p>
				</td>
			</tr>
		</table>
	</div>

	<br><br>

	<h1 class="title_h2">站體及路線安全與風險管理</h1>
	<div class="articleTitle">
		<h2 class="articleTitleContent">獨立查核檢驗及認證</h2>
	</div>
	<p>依據台灣高鐵與交通部簽訂之興建營運合約（Construction and Operation Agreement，簡稱C&OA）相關條款內容，後續新增三站（苗栗站、彰化站及雲林站）及南港延伸線已委託獨立、公正且經高速鐵路工程局事先同意之專業認證機構，執行獨立查核、檢驗及認證工作，並陸續於2015年8月26日、2016年2月26日取得專業機構所出具之適合營運（fit for operation）證明，以確認各系統之規劃設計、興建施工與測試結果，均滿足高速鐵路功能、品質與安全之要求。</p>

	<div class="articleTitle">
		<h2 class="articleTitleContent">站體及路線安全檢測與維修</h2>
	</div>

	<p>每日在列車營運結束後，軌道維護人員每日晚間為了白天的營運安全進行例行巡檢，確保軌道與土建的安全性，2016年道岔檢查共1,812組，軌道例行性檢查共8,362公里、軌道不整檢查共8,344公里。除軌道維護外，台灣高鐵設施之日常檢查及維護包含車站、列車、機電設施、土木結構、路線安全等，涵蓋各項設施之安全檢測作業。</p>


	<div class="word_size">
		<table width="100%">
			<tr>
				<th bgcolor="#EFEFEF" scope="col" rowspan="5" style="padding:8px;" width="25%">2016年</th>
				<td align="center" bgcolor="#db5106" valign="middle" style="padding:8px; color: #FFF;" width="25%">類別</td>
				<td align="center" bgcolor="#db5106" valign="middle" style="padding:8px; color: #FFF;" width="25%">週期</td>
				<td align="center" bgcolor="#db5106" valign="middle" style="padding:8px; color: #FFF;" width="25%">維修量</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">日檢</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">每兩天</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">5,089車組</p>
				</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">月檢</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">每30天或3萬公里</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">628車組</p>
				</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">轉向架檢修</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">每18個月或60萬公里</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">27車組</p>
				</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">大修</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">每36個月或120萬公里</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">14車組</p>
				</td>
			</tr>
		</table>
	</div>
	
	<br><br>

	<div class="articleTitle">
		<h2 class="articleTitleContent">實施系統保證業務</h2>
	</div>
	<p>R（Reliability）可靠度、A（Availability）可用度、M（Maintenance）可維護度及S（Safety）安全為台灣高鐵提供旅客服務品質的重要特質，其中尤以安全為鐵路營運絕對必要之先決條件。當對現有高速鐵路系統進行重要之更動或修改，或進行新增、擴建工程專案，均參照國際標準EN50126「鐵道之應用-RAMS 之規範與證明」之要求，進行各階段之系統保證驗證相關作業，以確保系統整體RAMS。
	</p>

	<div class="articleTitle">
		<h2 class="articleTitleContent">實施危害管理</h2>
	</div>
	<p>危害管理機制係台灣高鐵成功安全管理之必要環節，確保高速鐵路系統之營運安全，並有效地管理營運、維修與工程專案所產生之危害。
	</p>


	<h3>危害審查小組會議鑑別成果</h3>
	<div class="word_size">
		<table width="100%">
			<tr>
				<th bgcolor="#db5106" scope="col" style="padding:8px; color:#FFF;" width="40%"></th>
				<th bgcolor="#db5106" scope="col" style="color:#FFF;" width="30%">2015</th>
				<th bgcolor="#db5106" scope="col" style="color:#FFF;" width="30%">2016</th>
				
			</tr>
			<tr>
				<th bgcolor="#EFEFEF" scope="col" style="padding:8px;">會議次數</th>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">12次</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">12次</p>
				</td>
			</tr>
			<tr>
				<th bgcolor="#EFEFEF" scope="col" style="padding:8px;">危害審查項目</th>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">15項</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">12項</p>
				</td>
			</tr>
			<tr>
				<th bgcolor="#EFEFEF" scope="col" style="padding:8px;">風險等級</th>
				<td align="center" bgcolor="#EFEFEF" colspan="2" valign="middle" style="padding:8px;">
					<p style="margin: 0">「Ar」 or 「Ac」 or 「NA」。/p>
				</td>
			
			</tr>

			
		</table>
	</div>

</article>

{% endblock %} 













