{# index.twig #}
{% extends "/_template/layout_m.twig" %}
{% block page_m %}



<article class="common_article">
	<h1 class="title_h2">人才培育 </h1>
	<h3>孕育人才，價值培育</h3>
	<p>身為國內鐵路產業中唯一的高速鐵路營運公司，員工為我們的核心動能之一，培育專業人才為我們重要使命。為因應新站的設立及優化員工勞動時數的調配，我們於2016年大幅提升總員工數量，兼顧業務需求及員工期許。</p>
	
	<h5>人力結構</h5>
	<div style="overflow: auto" class="table_m">  
		<table align="center" width="500">
			<tr>
				<th align="center" width="20%"></th>
				<th align="center" colspan="2">2014</th>
				<th align="center" colspan="2">2015</th>
				<th align="center" colspan="2">2016</th>
			</tr>
			<tr>
				<td align="center"></td>
				<td align="center"> 男 </td>
				<td align="center"> 女 </td>
				<td align="center">男</td>
				<td align="center">女</td>
				<td align="center">男</td>
				<td align="center">女</td>
			</tr>
			<tr>
				<td align="center">總勞動力</td>
				<td align="center">2425</td>
				<td align="center">1241</td>
				<td align="center">2441</td>
				<td align="center">1338</td>
				<td align="center">2750</td>
				<td align="center">1599</td>
			</tr>
			<tr>
				<td align="center">男女比例</td>
				<td align="center">66%</td>
				<td align="center">34%</td>
				<td align="center">65%</td>
				<td align="center">35%</td>
				<td align="center">63%</td>
				<td align="center">37%</td>
			</tr>
			<tr>
				<td align="center">總勞動力 （男女合計）</td>
				<td align="center" colspan="2">3666</td>
				<td align="center" colspan="2">3779</td>
				<td align="center" colspan="2">4349</td>
			</tr>
		</table>
	</div>

	<h3>包容性的員工任用</h3>
	<p>近年台灣高鐵積極提升員工向心力，且搭配著財務改善計畫及公司上市等變革，2015和2016年的離職比例有顯著下降。</p>

	<h5>新進員工統計</h5>

	<div style="overflow: auto" class="table_m">  
		<table align="center" width="800">
			<tr>
				<th colspan="2" width="25%"></th>
				<th colspan="2">2014</th>
				<th colspan="2">2015</th>
				<th colspan="2">201</th>
			</tr>
			<tr>
				<td align="center" colspan="2">類別</td>
				<td align="center">男</td>
				<td align="center">女</td>
				<td align="center">男</td>
				<td align="center">女</td>
				<td align="center">男</td>
				<td align="center">女</td>
			</tr>
			<tr>
				<td align="center" rowspan="7">職類</td>
				<td align="center">列車服務人員</td>
				<td align="center">44</td>
				<td align="center">153</td>
				<td align="center">28</td>
				<td align="center">136</td>
				<td align="center">7</td>
				<td align="center">62</td>
			</tr>			
			<tr>
				<td align="center">車站服務人員</td>
				<td align="center">70</td>
				<td align="center">175</td>
				<td align="center">69</td>
				<td align="center">143</td>
				<td align="center">86</td>
				<td align="center">249</td>
			</tr>				
			<tr>
				<td align="center">行控人員</td>
				<td align="center">22</td>
				<td align="center">2</td>
				<td align="center">0</td>
				<td align="center">0</td>
				<td align="center">0</td>
				<td align="center">0</td>
			</tr>
			<tr>
				<td align="center">駕駛人員</td>
				<td align="center">0</td>
				<td align="center">0</td>
				<td align="center">2</td>
				<td align="center">0</td>
				<td align="center">16</td>
				<td align="center">1</td>
			</tr>
			<tr>
				<td align="center">維修人員</td>
				<td align="center">136</td>
				<td align="center">0</td>
				<td align="center">84</td>
				<td align="center">0</td>
				<td align="center">231</td>
				<td align="center">0</td>
			</tr>					
			<tr>
				<td align="center">其他</td>
				<td align="center">64</td>
				<td align="center">34</td>
				<td align="center">39</td>
				<td align="center">20</td>
				<td align="center">70</td>
				<td align="center">67</td>
			</tr> 					
			<tr>
				<td align="center">合計</td>
				<td align="center">336</td>
				<td align="center">364</td>
				<td align="center">222</td>
				<td align="center">299</td>
				<td align="center">410</td>
				<td align="center">379</td>
			</tr>
			<tr>
				<td align="center" rowspan="3">年齡</td>
				<td align="center">30歲以下</td>
				<td align="center">257</td>
				<td align="center">338</td>
				<td align="center">156</td>
				<td align="center">285</td>
				<td align="center">277</td>
				<td align="center">337</td>
			</tr>							
			<tr>
				<td align="center">30-50歲</td>
				<td align="center">58</td>
				<td align="center">26</td>
				<td align="center">62</td>
				<td align="center">14</td>
				<td align="center">126</td>
				<td align="center">39</td>
			</tr>							 
			<tr>
				<td align="center">50歲以上</td>
				<td align="center">21</td>
				<td align="center">0</td>
				<td align="center">4</td>
				<td align="center">0</td>
				<td align="center">7</td>
				<td align="center">3</td>
			</tr>			
			<tr>
				<td align="center" colspan="2">合計</td>
				<td align="center">336</td>
				<td align="center">364</td>
				<td align="center">222</td>
				<td align="center">299</td>
				<td align="center">410</td>
				<td align="center">379</td>
			</tr> 					
			<tr>
				<td align="center" colspan="2">全員占比</td>
				<td align="center">9.17%</td>
				<td align="center">9.93%</td>
				<td align="center">5.87%</td>
				<td align="center">7.91%</td>
				<td align="center">9.41%</td>
				<td align="center">8.69%</td>
			</tr>
		</table>
	</div>


	<h5>離職員工統計</h5>
	<div style="overflow: auto" class="table_m">  
		<table align="center" width="800">
			<tr>
				<th colspan="2" width="25%"></th>
				<th colspan="2">2014</th>
				<th colspan="2">2015</th>
				<th colspan="2">201</th>
			</tr>
			<tr>
				<td align="center" colspan="2">類別</td>
				<td align="center">男</td>
				<td align="center">女</td>
				<td align="center">男</td>
				<td align="center">女</td>
				<td align="center">男</td>
				<td align="center">女</td>
			</tr>
			<tr>
				<td align="center" rowspan="7">職類</td>
				<td align="center">列車服務人員</td>
				<td align="center">13</td>
				<td align="center">116</td>
				<td align="center">23</td>
				<td align="center">98</td>
				<td align="center">5</td>
				<td align="center">8</td>
			</tr>			
			<tr>
				<td align="center">車站服務人員</td>
				<td align="center">72</td>
				<td align="center">106</td>
				<td align="center">36</td>
				<td align="center">55</td>
				<td align="center">36</td>
				<td align="center">27</td>
			</tr>				
			<tr>
				<td align="center">行控人員</td>
				<td align="center">9</td>
				<td align="center">1</td>
				<td align="center">7</td>
				<td align="center">2</td>
				<td align="center">4</td>
				<td align="center">0</td>
			</tr>
			<tr>
				<td align="center">駕駛人員</td>
				<td align="center">3</td>
				<td align="center">0</td>
				<td align="center">6</td>
				<td align="center">0</td>
				<td align="center">4</td>
				<td align="center">0</td>
			</tr>
			<tr>
				<td align="center">維修人員</td>
				<td align="center">56</td>
				<td align="center">0</td>
				<td align="center">69</td>
				<td align="center">0</td>
				<td align="center">42</td>
				<td align="center">0</td>
			</tr>					
			<tr>
				<td align="center">其他</td>
				<td align="center">81</td>
				<td align="center">49</td>
				<td align="center">92</td>
				<td align="center">47</td>
				<td align="center">38</td>
				<td align="center">11</td>
			</tr> 					
			<tr>
				<td align="center">合計</td>
				<td align="center">234</td>
				<td align="center">272</td>
				<td align="center">233</td>
				<td align="center">202</td>
				<td align="center">129</td>
				<td align="center">46</td>
			</tr>					
			<tr>
				<td align="center" rowspan="3">年齡</td>
				<td align="center">30歲以下</td>
				<td align="center">114</td>
				<td align="center">227</td>
				<td align="center">95</td>
				<td align="center">146</td>
				<td align="center">48</td>
				<td align="center">33</td>
			</tr>						
			<tr>
				<td align="center">30-50歲</td>
				<td align="center">97</td>
				<td align="center">44</td>
				<td align="center">100</td>
				<td align="center">55</td>
				<td align="center">47</td>
				<td align="center">9</td>
			</tr>											 
			<tr>
				<td align="center">50歲以上</td>
				<td align="center">23</td>
				<td align="center">1</td>
				<td align="center">38</td>
				<td align="center">1</td>
				<td align="center">34</td>
				<td align="center">4</td>
			</tr>			
			<tr>
				<td align="center" colspan="2">合計</td>
				<td align="center">234</td>
				<td align="center">272</td>
				<td align="center">233</td>
				<td align="center">202</td>
				<td align="center">129</td>
				<td align="center">46</td>
			</tr> 									
			<tr>
				<td align="center" colspan="2">全員占比</td>
				<td align="center">6.38%</td>
				<td align="center">7.42%</td>
				<td align="center">6.17%</td>
				<td align="center">5.35%</td>
				<td align="center">4.69%</td>
				<td align="center">2.88%</td>
			</tr> 					
		</table>
	</div>


	<p>在身障者進用方面，除在招募網站上設置身心障礙人員招募專區，更根據不同職務特性，聘任身心障礙員工，在2015與2016年分別雇用32名、53名身障者員工，符合身障者權益保護法要求。而在原住民進用方面，雖致力於滿足法規要求，但2015年原住民進用人數仍不足3名，故積極與原住民委員會連繫推薦人選，2016年共進用43名原住民，達成進用目標。未來將持續透過各種管道進行招募，確保員工多元性。</p>
	<p>員工敘薪上，台灣高鐵皆依工作經驗、學經歷、專長及證照等核定待遇，在薪資待遇上不會因性別或族群而有所差異，亦藉由透明化薪酬政策，將營運績效回饋給員工。不論管理階層或一般員工女男比例上，除因一般員工男性部分多為技術專業等薪資較高人員，相較於管理階層女男薪酬較一般員工平均差異高。</p>
	
	<h5>女男薪酬比</h5>
	<div style="overflow: auto" class="table_m">  
		<table align="center" border="0" cellpadding="0" cellspacing="1" style="color: rgb(0, 0, 0); line-height: 22px;" width="500">
			<tr>
				<th bgcolor="#db5106" scope="col" style="padding:8px; color:#FFF;" width="20%"></th>
				<th bgcolor="#db5106" scope="col" style="color:#FFF;" width="20%">2015</th>
				<th bgcolor="#db5106" scope="col" style="color:#FFF;" width="20%">2015</th>
				<th bgcolor="#db5106" scope="col" style="color:#FFF;" width="20%">2016</th>
				<th bgcolor="#db5106" scope="col" style="color:#FFF;" width="20%">2016</th>
				
			</tr>
			<tr>
				<th bgcolor="#EFEFEF" scope="col" style="padding:8px;"></th>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">女</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0"> 男 </p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0"> 女 </p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">男</p>
				</td>
			</tr>
			<tr>
				<th bgcolor="#EFEFEF" scope="col" style="padding:8px;">管理階層</th>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">1</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0"> 0.94 </p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0"> 1 </p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">1.03</p>
				</td>
			</tr>
			<tr>
				<th bgcolor="#EFEFEF" scope="col" style="padding:8px;">一般員工</th>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">1</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0"> 1.18 </p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0"> 1 </p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">1.2</p>
				</td>
			</tr>

		</table>
	</div>
	<br><br>

	<h3>全方位的員工訓練</h3>
	<div class="articleTitle">
		<h2 class="articleTitleContent">職能訓練與發展體系</h2>
	</div>
	<p>台灣高鐵的訓練體系分為兩大主軸，分別為「安全」與「服務」，並在高鐵專屬的訓練系列課程中導入核心職能、專業職能、管理職能及工作效能等四大職能構面，以內部講師為骨幹，提供完整的職能訓練體系課程。</p>

	<h5>四大職能訓練溝面</h5>
	<div style="overflow: auto" class="table_m">  
		<table align="center" border="0" cellpadding="0" cellspacing="1" style="color: rgb(0, 0, 0); line-height: 22px;" width="500">
			<tr>
				<th bgcolor="#db5106" scope="col" style="padding:8px; color:#FFF;" width="30%">職能構面</th>
				<th bgcolor="#db5106" scope="col" style="color:#FFF;" width="40%">重點內容</th>
				<th bgcolor="#db5106" scope="col" style="color:#FFF;" width="30%">適用人員</th>

				
			</tr>
			<tr>
				<th bgcolor="#EFEFEF" scope="col" style="padding:8px;">核心職能</th>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">型塑員工價值觀、安全、品質及服務等相關訓練</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0"> 全體同仁 </p>
				</td>
			</tr>			
			<tr>
				<th bgcolor="#EFEFEF" scope="col" style="padding:8px;">專業職能</th>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">強化員工具備所需之工作知識、技能等相關訓練</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0"> 全體同仁 </p>
				</td>
			</tr>
			
			<tr>
				<th bgcolor="#EFEFEF" scope="col" style="padding:8px;">管理職能</th>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">精進主管管理理念與思維、策略性思考、計畫與組織、領導力等相關訓練</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0"> 基層、中階、高階主管 </p>
				</td>
			</tr>
			
			<tr>
				<th bgcolor="#EFEFEF" scope="col" style="padding:8px;">工作效能</th>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">透過指導及專案的執行，以提升員工之工作技能與績效</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0"> 全體同仁 </p>
				</td>
			</tr>

		</table>
	</div>

	<br><br>

	<p>同時我們於2009年建置「訓練管理及數位學習系統」，員工可透過此系統查詢訓練課程資訊、內部講師授課紀錄、個人學習紀錄與訓練相關報表，還能與內部講師互動，以加強學習效果。</p>
	<p>我們依據不同職務要求，讓第一線專業技術及服務人員接受職務所需訓練，並通過一系列嚴謹的資格認證，包括課堂、實作、實習、測驗與評鑑，以及每年的複訓和事件模擬演練。尤其是高鐵的列車駕駛，除了需接受長達八個多月且超過1,300 小時以上的駕駛專業課程外，完訓後還須取得公司內部駕駛訓練檢定合格資格，再通過交通部高速鐵路列車駕駛執照檢定，並取得駕照後，始得上線執勤。</p>

	
	<div class="articleTitle">
		<h2 class="articleTitleContent">多元的教育訓練成效</h2>
	</div>

	<p>台灣高鐵訓練模式主要區分為內、外部訓練課程、線上數位課程與實作演練等，滿足員工對學習的高度熱忱及我們對於專業技能的高標準要求。</p>


	<div style="overflow: auto" class="table_m">  
		<table align="center" width="800">
			<tr>
				<th width="20%">訓練課程數量及費用</th>
				<th colspan="3">2014</th>
				<th colspan="3">2015</th>
				<th colspan="3">2016</th>
			</tr>
			<tr>
				<td align="center"></td>
				<td align="center">男</td>
				<td align="center">女</td>
				<td align="center">合計</td>
				<td align="center">男</td>
				<td align="center">女</td>
				<td align="center">合計</td>
				<td align="center">男</td>
				<td align="center">女</td>
				<td align="center">合計</td>
			</tr>
			<tr>
				<td align="center">訓練課程（班數）</td>
				<td align="center">1,766</td>
				<td align="center">905</td>
				<td align="center">2,671</td>
				<td align="center">1,789</td>
				<td align="center">980</td>
				<td align="center">2,769</td>
				<td align="center">1,823</td>
				<td align="center">1,062</td>
				<td align="center">2,885</td>
			</tr>								
			<tr>
				<td align="center">人次平均訓練費用（元）</td>
				<td align="center">119</td>
				<td align="center">62</td>
				<td align="center">181</td>
				<td align="center">135</td>
				<td align="center">70</td>
				<td align="center">205</td>
				<td align="center">163</td>
				<td align="center">95</td>
				<td align="center">258</td>
			</tr> 								
			<tr>
				<td align="center">人均訓練費用（元）</td>
				<td align="center">2,249</td>
				<td align="center">1,153</td>
				<td align="center">3,402</td>
				<td align="center">2,464</td>
				<td align="center">1,351</td>
				<td align="center">3,815</td>
				<td align="center">2,201</td>
				<td align="center">1,281</td>
				<td align="center">3,482</td>
			</tr> 								
		</table>
	</div>

	<p>2015和2016 年投入人時最多之訓練類別為高速鐵路專業訓練之運轉服務類、維修類及鐵路安全等訓練課程，此三類訓練為專業職能構面中各類專業人員之訓練系列課程。</p>


	<div class="articleTitle">
		<h2 class="articleTitleContent">產學合作培育人才</h2>
	</div>

	<h5>大學生暑期體驗實習計畫</h5>
	<p>台灣高鐵自2014年起舉辦「大學生暑期體驗實習計畫」，每年提供50個名額，在為期二個月的暑假，提供豐富多樣的知識與實務課程。</p>
	<p>2014年及2015年參與實習計畫的同學，分別有3名及5名在畢業之後，透過徵選程序加入高鐵；2016年參與實習計畫的同學，將於2017年畢業後投入職場，使產學合作培育更具競爭力。</p>

	<img src="http://www.thsrc.com.tw/event/tmp/img/e05.jpg" style="width: 80%; display: block; margin: 0px auto">
	<br><br>
	<img src="http://www.thsrc.com.tw/event/tmp/img/e06.jpg" style="width: 80%; display: block; margin: 0px auto">
	<p style="text-align: center; margin-top: 0px">大學生暑期體驗實習計畫</p>


	<h5>鐵道設備實驗室</h5>
	<p>為促進國內鐵道業之技術提升，台灣高鐵與國立高雄第一科技大學合設鐵道設備實驗室，投入資源組成跨領域技術團隊，雙方共同合作完成實驗室之建置，提升產學合作能力。</p>
	<p>鐵道設備實驗室於2015年10月23日正式運作，將藉由第一科大跨系所專業技術團隊協助設備改善、在地化 （包含替代品、商源、驗證、研發等）、技術生根及人才培育等，進而成為公司的技術備援研究中心，及配合校方規劃成立鐵道相關認證中心，攜手共創鐵道工業新里程。</p>


	<img src="http://www.thsrc.com.tw/event/tmp/img/e07.jpg" style="width: 80%; display: block; margin: 0px auto">
	<p style="text-align: center; margin-top: 0px">高雄第一科技大學產業創新大樓落成典禮</p>

	<img src="http://www.thsrc.com.tw/event/tmp/img/e08.jpg" style="width: 80%; display: block; margin: 0px auto">
	<p style="text-align: center; margin-top: 0px">高雄第一科技大學鐵道設備實驗室揭牌</p>

	<h5>產學合作備忘錄</h5>
	<p>自2012年起，台灣高鐵除與國立高雄第一科技大學及臺北科技大學簽訂合作備忘錄，也與國內多所學校簽訂合作備忘錄，透過交流、專案合作和研討會等方式生根技術。</p>


	<div style="overflow: auto" class="table_m">  
		<table width="700">
			<tr>
				<th width="40%">
					高雄第一科技大學（合作備忘錄期間：2012/03/15~2017/03/14）
				</th>
				<td width="60%" >
					截至2016年11月，道岔、車輛、軌道等專案合作共17案，另有高鐵維修實習生專案、合設鐵道設備實驗室、以及在職專班進修專案。
				</td>
			</tr>
			<tr>
				<th>
					臺北科技大學（合作備忘錄期間：2012/06/11~2017/06/10）
				</th>
				<td>
					截至2016年11月，工程車定位、電力設備維護管理系統等專案合作共5案，另有高鐵維修實習生專案。
				</td>
			</tr>
			<tr>
				<th>
					中華大學（合作備忘錄期間：2015/09/01~2020/08/31）
				</th>
				<td>
					截至2016年11月，專案合作共2案，包括電力需量最佳化和路線檢測資料分析。
				</td>
			</tr>
			<tr>
				<th>
					高雄第一科技大學&臺北市政府教育局（合作備忘錄期間：2016/04/27~2019/04/26）
				</th>
				<td>
					於2016年7月辦理首屆「軌道車輛工程學習營」。
				</td>
			</tr>
			<tr>
				<th>
					成功大學軌道運輸中心（合作備忘錄期間：2016/08/01~2021/07/31）
				</th>
				<td>
					截至2017年2月，車站輪班人員排班系統專案陳核作業中。
				</td>
			</tr>
			
		</table>
	</div>
	
	<br><br>

	<p>維修分處經由整合內部資源及與學校多次意見交流後，於2014年8月正式推動首屆維修實習生專案。藉此專案提供學生生涯探索機會，維修現場則因實習生運用所學，激盪出火花，展現產學合作效益。首屆於2014年開始於2015年7月完成，第二屆於2016年8月開始，預計2017年7月完成。
	</p>
	

	<img src="http://www.thsrc.com.tw/event/tmp/img/e09.jpg" style="width: 80%; display: block; margin: 0px auto">
	<p style="text-align: center; margin-top: 0px">首屆維修實習生活動剪影</p>

	<img src="http://www.thsrc.com.tw/event/tmp/img/e10.jpg" style="width: 80%; display: block; margin: 0px auto">
	<p style="text-align: center; margin-top: 0px">首屆維修實習生結業典禮</p>


	<h3>人才管理與激勵</h3>
	<div class="articleTitle">
		<h2 class="articleTitleContent">績優人才的培育</h2>
	</div>
	<p>台灣高鐵自2012 年，經內部核定實施Career Path 人才發展計畫，針對績優人才與不同崗位的工作人員，設計不同的留任與職涯發展路徑，並結合年度的人力盤點，以滿足新站開設人力需求，主要實施對象為第一線單位之績優人員。第一線單位之績優人員於晉升現場督導前，需接受儲備幹部培訓班之訓練課程及完成「一段期間」之代理任務，並經能力評鑑後，於管理職開缺時，公司會擇優就任。</p>


</article>


{% endblock %} 