{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<article class="common_article">
	<h1 class="title_h2">友善職場 </h1>
	<h3>保障權益，貼心關懷</h3>
	<p>我們除著重人才培育與激勵，也在乎員工的權益保障，我們於2015年第4季起，與台灣高速鐵路股份有限公司企業工會（以下簡稱高鐵工會）啟動團體協約之協商，並且於2016年第3季起，與高鐵工會啟動各項議題之討論。目前台灣高鐵與高鐵工會持續進行團體協約協商，而每位員工皆與公司存有勞雇關係之勞動契約，勞動條件均依法受到保障。我們也嚴格遵守法令，建立多方申訴管道，以提供安全、平等的優質工作環境。
	</p>
	

	<div class="word_size">
		<table width="100%">
			<tr>
				<td align="center" width="20%" bgcolor="#EFEFEF" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0">召開勞資會議</p>
				</td>
				<td align="left" width="80%"  bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">第一屆事業單位勞資會議成立於2003年12月24日，事業場所勞資會議成立於2016年7月1日，此後定期每季舉辦勞資會議，勞資會議議題也依規定期間內提供給勞資雙方進行商議，勞資代表異動則依法令陳報主管機關備查。</p>
				</td>
			</tr>
			<tr>
				<td align="center"  bgcolor="#EFEFEF" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0">建立申訴制度</p>
				</td>
				<td align="left"   bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">訂定及實施員工「申訴辦法」，以有效施行公司管理政策及維持員工關係之和諧。</p>
				</td>
			</tr>
			<tr>
				<td align="center"  bgcolor="#EFEFEF" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0">性騷擾防治及申訴管道</p>
				</td>
				<td align="left"   bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">依據性別工作平等法，並參考工作場所性騷擾防治措施申訴及懲戒辦法訂定準則，確保工作地點及在台灣高鐵職場工作者身心安全與身心保護，加強對員工有關性騷擾事件之防治及宣導，於新進人員教育訓練課程及E-learning平台中進行說明及宣導，並於公司外部網站、營業場所及工作場所張貼申訴專線、傳真，以有效防止公司內、外部性騷擾事件之發生。</p>
				</td>
			</tr>
			<tr>
				<td align="center"  bgcolor="#EFEFEF" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0">性別工作平等法</p>
				</td>
				<td align="left"   bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">設置供旅客及員工使用之育嬰室、哺育室，以鼓勵並支持哺餵母乳政策。</p>
				</td>
			</tr>
			<tr>
				<td align="center"  bgcolor="#EFEFEF" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0">勞工健康保護規則</p>
				</td>
				<td align="left"   bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">於總公司、運務大樓及維修大樓設置醫護室；並於各營運車站設置優於相關法令規範之保健室，以提供旅客及員工緊急醫療協助。</p>
				</td>
			</tr>
		</table>
	</div>
	
	<br><br>

	<p>近兩年依據勞資會議決議辦理總公司投幣咖啡機之購買優惠並新增汽水販賣機、開放站務人員每月調班次數限制、輪班人員交通協助之時段調整等，實施後以備忘錄公告周知或由各地主管向該事業場所佈達。</p>
	<p>我們的申訴管道透過員工提出之後，第一層由權責單位與受理單位處理，並交由員工關係部備查。若員工不滿意處理結果，可在向員工關係部申請第二層申訴，由人力資源處調查與申訴審議委員會審議，交由執行長確認後再回饋給員工，透過層層溝通與處理機制讓員工獲得滿意的答覆。</p>
	<p>2015與2016年度台灣高鐵發生兩起重大勞資爭議事件，我們正面積極處理，並依據公正單位的決議進行後續處理事宜。</p>

	<h5>2015與2016年重大勞資事件處理</h5>
	
	<div class="word_size">
		<table width="100%">
			<tr>
				<td align="center" width="20%" bgcolor="#EFEFEF" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0">事件類型</p>
				</td>
				<td align="left" width="80%"  bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">處理說明</p>
				</td>
			</tr>
			<tr>
				<td align="center"  bgcolor="#EFEFEF" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0">勞資糾紛訴訟</p>
				</td>
				<td align="left"   bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">為確認僱傭關係存在之訴案件，估計金額2,479,644元，本公司將遵照法院之判決續處。</p>
				</td>
			</tr>
			<tr>
				<td align="center"  bgcolor="#EFEFEF" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0">加班費爭議處理</p>
				</td>
				<td align="left"   bgcolor="#EFEFEF" valign="middle" style="padding:8px;">
					<p style="margin: 0">與高鐵工會於2016年1月21日達成雙方協議，就高鐵工會提出加班費之給付進行核算，並於2016年7月共同研商確認前述加班費之計算方式，依協議內容與行政法院之判決續處，已於2016年度財報估計提列負債準備餘額計298,455仟元。</p>
				</td>
			</tr>
		</table>
	</div>

	<br><br>

	<h3>職業安全衛生</h3>
	<p>台灣高鐵以安全為所有決策和行動的最高指導原則，並制定安全衛生政策作為確保旅客、工作者和其他公眾安全健康的政策承諾，並於2017年4月更新。</p>
	
	<div class="word_size">
		<table width="100%">
			<tr>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0">台灣高鐵職業安全衛生政策</p>
				</td>
			</tr>
			<tr>
				<td align="left"  bgcolor="#EFEFEF" valign="middle" style="padding:8px; color: #FFF">
					<p>安全是台灣高鐵的基石—沒有安全就沒有台灣高鐵。本公司所有決策與行動均應以安全為最高指導原則，並將維持主動積極的安全衛生管理，全員持續參與改善，以達零災害、零事故的目標。並承諾：</p>
					<p>一、每一位都應恪遵法令、規章與程序，並有責任時時確保自身、所服務的對象與維護管理的高鐵資產，都被安全保護。</p>
					<p>二、妥善運用國際認同之風險評估及安全衛生管理方法於安全管理系統中，於合理可行的範圍內控制及降低危害的風險至最低等級。</p>
					<p>三、所有工作者皆須接受安全及健康規章與作業程序訓練，使其於執行日常業務時，皆能持續展現並具備對於安全及健康的關注與認知。</p>
					<p>四、	妥慎選擇、監督及管理承包商及供應商，確保其作業或設備、物料等供應均能符合法令以及公司安全管理要求。</p>
					<p>五、建立及維持優質之作業環境及作業管理措施，以維護全體員工身心健康。</p>
					<p>六、本公司將定期檢討安全衛生政策、規章、程序與執行績效，以提升管理績效並達持續改善安全之目的。</p>
				</td>
			</tr>
			
		</table>
	</div>
	<br><br>


	<div class="articleTitle">
		<h2 class="articleTitleContent">安全衛生管理機制</h2>
	</div>
	<p>虛驚事件之報告及其後續改善作為，事實上即為事故之先期防範，我們推動虛驚事件通報獎勵方案，透過獎勵方式鼓勵員工主動通報作業環境中的虛驚事件，俾預先辨識鐵路營運環境中各種潛在危害，於事前加以控制或將其風險降低至可接受程度。2016 年透過虛驚通報電子信箱蒐集到293 次回饋，經審視後，其中31 件為虛驚事件，皆已改善完畢，其餘提報案件為危害、或非職業安全相關議題等，均通報相關單位另行處理。</p>
	
	<h5>安全衛生管理機制執行表</h5>
	<div class="word_size">
		<table width="100%">
			<tr>
				<td align="center"  bgcolor="#db5106" colspan="2" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0; color: #FFF">台灣高鐵職業安全衛生政策</p>
				</td>
				
			</tr>			
			<tr>
				<td align="center" width="30%" bgcolor="#EFEFEF" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0">目的</p>
				</td>
				<td align="center" width="70%" bgcolor="#EFEFEF" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0">各單位安衛目標之達成程度
					足夠之監督量測的資訊與結果之紀錄，以進行後續矯正及預防措施的分析</p>
				</td>
			</tr>		
			<tr>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0">主動性項目</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0">安衛管理計畫、作業準則及適用之法規及其他要求事項的符合性</p>
				</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0">被動性項目</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0">不健康、事件及其他安衛績效不足之事證</p>
				</td>
			</tr>
			<tr>
				<td align="center"  bgcolor="#db5106" colspan="2" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0; color: #FFF">職業安全衛生之稽核辦法</p>
				</td>
				
			</tr>
			<tr>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0">進行方式</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0">定期或不定期執行安衛管理系統稽核</p>
				</td>
			</tr>
			<tr>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0">稽核範疇</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0">訂定範圍、頻率、方法與能力，及執行稽核工作與結果報告的責任與要求並應以下列事項為規劃依據：
						各單位作業的風險評估結果
						以往的稽核結果</p>
				</td>
			</tr>
			
			
		</table>
	</div>
	<br><br>



	<p>台灣高鐵安衛管理目標以量化及可追蹤指標作為管理方式，如職災人數或失能傷害頻率（FR），及失能日數或失能傷害嚴重率（SR）。我們針對員工以及承攬供應商設置不同目標，並且採取積極量測與監督的定期或不定期的巡檢與稽核機制，以確實落實內部安衛管理機制。</p>



	<h5>安衛管理目標</h5>
	<img src="http://www.thsrc.com.tw/event/tmp/img/e11.jpg" alt="">
	<br><br>

	<div class="articleTitle">
		<h2 class="articleTitleContent">安全管理措施與健康促進機制</h2>
	</div>

	<p>台灣高鐵新進員工報到後，需接受4天之新人教育訓練，之後依職務之不同，再接受專業訓練。我們依據法令規定制定相關規章，並要求員工依規章執行，職安室依督導及稽核計畫進行查核。承包商人員進入本公司作業前，需接受本公司環境危害告知教育訓練及鐵路基本安全訓練課程，始得進場作業。</p>
	<p>健康管理以優於法令規定辦理健康檢查，每年並辦理健康促進活動（如減重班、健康講座）及醫護人員臨廠健康訪視。一般員工45歲以上每年檢查1次，45歲以下每二年檢查1次；行車人員每年檢查1次。在2015的健康檢查結果中，行車人員8位不合格，其中2位已離職，6位已調整勤務為非行車人員工作，其餘行車人員檢查結果均合格。</p>


	<h5>健康檢查參與人數</h5>
	<img src="http://www.thsrc.com.tw/event/tmp/img/e14.jpg" alt="">

	<br><br>

	<h3>員工關懷措施</h3>
	<p>為顧客提供貼心服務的同時，台灣高鐵的員工更是我們全心照顧的對象，訂定福利辦法建置完整員工福利制度，並依法設立職工福利委員會，辦理各項福利措施及運作，且定期透過參與外部顧問公司提供之市場調查，確保福利計畫之市場競爭力。</p>

	<h5>台灣高鐵員工福利項目</h5>
	<div class="word_size">
		<table width="100%">
			<tr>
				<td align="center"  bgcolor="#db5106" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0; color: #FFF">福利類別</p>
				</td>
				<td align="center"  bgcolor="#db5106" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0; color: #FFF">福利項目</p>
				</td>
				
			</tr>			
			<tr>
				<td align="center" width="30%" bgcolor="#EFEFEF" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0">法定福利</p>
				</td>
				<td align="center" width="70%" bgcolor="#EFEFEF" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0">特休、退休金、勞保、全民健保、體檢（優於法令）</p>
				</td>
			</tr>		
			<tr>
				<td align="center" width="30%" bgcolor="#EFEFEF" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0">育兒支持</p>
				</td>
				<td align="center" width="70%" bgcolor="#EFEFEF" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0">育嬰留職停薪、托兒安親合約機構、哺育室設備</p>
				</td>
			</tr>		
			<tr>
				<td align="center" width="30%" bgcolor="#EFEFEF" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0">工作生活平衡</p>
				</td>
				<td align="center" width="70%" bgcolor="#EFEFEF" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0">社團活動補助、旅遊活動補助、輪班人員的照顧</p>
				</td>
			</tr>		
			<tr>
				<td align="center" width="30%" bgcolor="#EFEFEF" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0">員工協助方案</p>
				</td>
				<td align="center" width="70%" bgcolor="#EFEFEF" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0">心理諮詢與醫療就醫協助</p>
				</td>
			</tr>		
			<tr>
				<td align="center" width="30%" bgcolor="#EFEFEF" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0">生活支持</p>
				</td>
				<td align="center" width="70%" bgcolor="#EFEFEF" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0">團保、旅平險、喪葬補助與撫恤、喜幛輓聯、遷調補助、急難救助、員工傷病慰問及關懷、年節贈禮、生日禮金</p>
				</td>
			</tr>		
		</table>
	</div>
	<br><br>

	<p>職工福利委員會除每年三節發放贈禮以及旅遊補助金外，也積極連繫全省優良商家簽署員工特惠合約，包括娛樂、餐飲、旅遊、住宿、消費性用品團購等，以提供員工經濟實惠商品。
	</p>

	<h3>員工福利軟硬體設施</h3>
	<p>配合2016年7月1日南港站通車營運，北區運轉中心由台北站遷移至南港站，我們特別設置同仁休息區讓員工能充分放鬆。員工工作與生活的平衡也是公司關心的重點，鼓勵員工從事健康休閒活動，職工福利委員會登記之社團共有60 多個，其性質區分為公益性、藝文性、學術性及育樂性等四類，並給予社團適當補助。此外，我們於特定廠區供應團膳、宿舍、交通車、運動休閒設施、特約飯店及制服清洗等福利措施，更提供夜間值勤人員夜點與早餐的服務。體恤同仁的辛勞，六家基地、烏日基地、左營基地和燕巢總機廠共有宿舍144間，宿舍原本皆無獨立衛浴設施，基於員工使用之舒適，將部分房間改裝為44間套房，增設淋浴設備及電視，後續將視成效評估改裝，以提供更好的休息品質。
	</p>


	<img src="http://www.thsrc.com.tw/event/tmp/img/e12.jpg" alt="">
	<p style="text-align: center; margin-top: -40px">基地宿舍</p>

	<img src="http://www.thsrc.com.tw/event/tmp/img/e13.jpg" alt="">
	<p style="text-align: center; margin-top: -40px">北區運轉中心同仁休息區</p>





</article>

{% endblock %} 