{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


<article class="common_article">
	<h1 class="title_h2">關懷社會 </h1>
	<h3>乘載社會，發展在地</h3>
	<h5>發展平台</h5>
	<p>台灣高鐵不僅是最便捷的交通工具，更是文化創意推動平台，為使車站與地方產生深入聯結，2015年起規劃「藝起來高鐵」，透過藝文展演的人文魅力為車站塑造美麗記憶，邀請具表演經驗的學校、藝術團體或個人，於車站進行每場30分鐘的演出，已為各界所肯定，成為表演團體展現所學之優先平台，總是吸引旅客停下腳步欣賞，以樂舞乘載的歡快，導引台灣社會邁向藝文新生活。</p>

	<h5>藝起來高鐵活動成果表</h5>
	<div class="word_size">
		<table width="100%">
			<tr>
				<td align="center" width="30%" bgcolor="#db5106" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0; color: #FFF">年份</p>
				</td>
				<td align="center"  width="30%" bgcolor="#db5106" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0; color: #FFF">2015</p>
				</td>
				<td align="center"  width="40%" bgcolor="#db5106" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0; color: #FFF">2016 </p>
				</td>
				
			</tr>			
			<tr>
				<td align="center"  bgcolor="#EFEFEF" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0">開放站點</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0">桃園站、新竹站、台中站、嘉義站、台南站、左營站（共6站）</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0">桃園站、新竹站、苗栗站、台中站、彰化站、雲林站、嘉義站、台南站、左營站（新增3站，共9站）</p>
				</td>
			</tr>		
			<tr>
				<td align="center"  bgcolor="#EFEFEF" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0">表演場數</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0">71</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0">136</p>
				</td>
			</tr>				
			<tr>
				<td align="center"  bgcolor="#EFEFEF" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0">表演人數</p>
				</td>
				<td align="center" colspan="2" bgcolor="#EFEFEF" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0">5,688</p>
				</td>
				
			</tr>		
		</table>
	</div>
	<br><br>

	<img src="http://www.thsrc.com.tw/event/tmp/img/e15.jpg" alt="">
	<img src="http://www.thsrc.com.tw/event/tmp/img/e16.jpg" alt="">
	<p style="text-align: center; margin-top: -40px">2015、2016年藝起來高鐵活動照片</p>


	<h2>人文關懷</h2>
	<p>2015至2016年，台灣高鐵投入社會公益關懷之募款與贊助金額累積達新臺幣2仟712萬4,040元；展望未來，高鐵公司將利用既有資源，發揮真實接觸的暖心精神，持續投入微笑列車與助學計畫並積極經營，讓更多在地需要被關懷的弱勢族群感受溫暖。</p>

	<div class="articleTitle">
		<h2 class="articleTitleContent">高速傳愛 助學計畫</h2>
	</div>
	
	<p>台灣弱勢學生人數攀升，就學成為經濟負擔的沉痾；此外，國內亦有許多遲緩兒家庭，因慢飛天使受教育的龐大開銷而有金錢困難。我們自2010年起辦理「高速傳愛 助學計畫」活動，提供平台進行募款，邀請社會大眾透過高鐵列車座位前信封袋、捐款箱或線上捐款方式慷慨解囊，連續7年與台灣世界展望會、伊甸基金會、兒童福利聯盟文教基金會合作，2015年為兒福聯盟募得新臺幣1仟122萬1,026 元，2016年為伊甸基金會募得善款新臺幣1仟278萬1,412元，7屆總計募得逾1億127萬元，總計有超過18,100名的孩童獲得幫助。
	</p>

	<img src="http://www.thsrc.com.tw/event/tmp/img/e17.jpg" alt="">
	<p style="text-align: center; margin-top: -40px">2015年高速傳愛計畫活動照片/兒福聯盟（邀請屏東佳義國小原住民小朋友表演）</p>
	<img src="http://www.thsrc.com.tw/event/tmp/img/e18.jpg" alt="">
	<p style="text-align: center; margin-top: -40px">2016年高速傳愛計畫活動照片/依甸基金會</p>


	<div class="articleTitle">
		<h2 class="articleTitleContent">寒冬送暖 捐血傳愛</h2>
	</div>

	<p>我們為協助各大醫院儲備醫療用血，自2012年起以高鐵車站為愛心據點，號召員工並邀請民眾一同響應，同時透過活動對內部同仁溝通，突顯台灣高鐵身熱心公益並善盡企業社會責任之用心。本活動定期於每年年末籌辦，五年來的愛心響應已累積3,271袋熱血，我們盼邀請大眾匯聚點滴熱血成為傳愛不斷的動人暖流，以熱血沸騰的實際捐血行動回饋社會。
	</p>


	<div class="word_size">
		<table width="100%">
			<tr>
				<td align="center" width="30%" bgcolor="#db5106" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0; color: #FFF">年份</p>
				</td>
				<td align="center"  width="30%" bgcolor="#db5106" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0; color: #FFF">2015</p>
				</td>
				<td align="center"  width="40%" bgcolor="#db5106" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0; color: #FFF">2016 </p>
				</td>
				
			</tr>			
			<tr>
				<td align="center"  bgcolor="#EFEFEF" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0">人數</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0">517人</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0">660人</p>
				</td>
			</tr>		
			<tr>
				<td align="center"  bgcolor="#EFEFEF" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0">袋數</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0">746袋</p>
				</td>
				<td align="center" bgcolor="#EFEFEF" valign="middle" style="padding:8px; color: #FFF">
					<p style="margin: 0">949袋</p>
				</td>
			</tr>				
				
		</table>
	</div>
	<br><br>

	<img src="http://www.thsrc.com.tw/event/tmp/img/e19.jpg" alt="">
	<img src="http://www.thsrc.com.tw/event/tmp/img/e20.jpg" alt="">
	<p style="text-align: center; margin-top: -40px">捐血傳愛活動照片</p>


	<div class="articleTitle">
		<h2 class="articleTitleContent">高速運轉 微笑列車</h2>
	</div>
	<p>台灣高鐵長期以「微笑列車」協助弱勢族群免費搭乘高鐵圓夢。2015年，受益人數2,995名，累計贊助車票為新臺幣813,592元；截至2016年，受益人數更達8,132名，贊助車票達新臺幣2,308,010元整。高鐵微笑列車計畫將持續進行，以熱情奔馳台灣南北，為需要幫助的對象提供最真誠溫暖的服務。</p>
	
	<img src="http://www.thsrc.com.tw/event/tmp/img/e21.jpg" alt="">
	<img src="http://www.thsrc.com.tw/event/tmp/img/e22.jpg" alt="">
	<p style="text-align: center; margin-top: -40px">微笑列車乘客歡樂合影照片</p>


	<div class="articleTitle">
		<h2 class="articleTitleContent">醫護人員 南援北運</h2>
	</div>
	<p>2015年6月八仙樂園粉塵爆炸，數百位民眾遭烈焰灼身，重創近500個家庭，同時也造成北區醫護人力短缺。我們秉持人道關懷與發揮急難救助精神，啟動「八仙樂園事件救援醫護人員南援北運專案」，讓中南部地區加入救護任務的醫護人員及志工免費搭乘高鐵，促使醫療人力與資源南援北運。近三個月的專案期間，共有150個醫療救援團體提出申請，總計650件申請案，開出近1,500張車票。
	</p>
	
	<img src="http://www.thsrc.com.tw/event/tmp/img/e23.jpg" alt="">
	<p style="text-align: center; margin-top: -40px">2015年醫護人員南援北運專案</p>
	<img src="http://www.thsrc.com.tw/event/tmp/img/e24.jpg" alt="">
	<p style="text-align: center; margin-top: -40px">2015年醫護人員南援北運專案</p>



	<div class="articleTitle">
		<h2 class="articleTitleContent">地牛翻身 災區救援</h2>
	</div>
	<p>2016年農曆過年前夕，高雄旗山斷層引發規模6.4級地震，造成臺南市多處樓房倒塌與眾多傷患等待救援。列車恢復營運後，台灣高鐵隨即啟動「臺南地震災區救援專案」，提供各縣市救災與醫療團體申請免費搭乘高鐵，協助救災醫療人員在最短時間內抵達災區，2016年2月9日至2月19日，共有130個救援/醫療團體提出搭乘申請，總計445筆申請案，開立近1,900張車票，使助人與受助者都感受暖暖高鐵愛。
	</p>
	
	<img src="http://www.thsrc.com.tw/event/tmp/img/e25.jpg" alt="">
	<p style="text-align: center; margin-top: -40px">2016年臺南地震災區救援專案</p>
	<img src="http://www.thsrc.com.tw/event/tmp/img/e26.jpg" alt="">
	<p style="text-align: center; margin-top: -40px">2016年臺南地震災區救援專案</p>



	<div class="articleTitle">
		<h2 class="articleTitleContent">高鐵送愛 開展視界</h2>
	</div>
	<p>為使「屏東縣盲人福利協進會」27名未曾搭乘高鐵的視障青年，親身體驗大眾交通工具，2015年10月我們將愛心化為實際行動，安排他們搭乘高鐵，透過左營站內各項無障礙服務措施的導覽，讓青年們感受友善空間，讓視障者從體驗中增添外出的信心與培養與外界溝通的應對能力，親臨臺北領略不同人文風光，啟程新視界。
	</p>
	
	<img src="http://www.thsrc.com.tw/event/tmp/img/e27.jpg" alt="">
	<p style="text-align: center; margin-top: -40px">台灣高鐵送愛視障青年開展新視界</p>



	<div class="articleTitle">
		<h2 class="articleTitleContent">百變耆老 銀光匯影 </h2>
	</div>
	<p>2016年9月嘉義基督教醫院嘉義市居家服務中心「常樂園」長輩們，在臺北小巨蛋進行表演，台灣高鐵特別提供嘉義至臺北往返高鐵車票，縮短車程時間讓表演人保持最佳體能，長者們也在高鐵嘉義站帶來快閃歌舞劇演出。我們以行動協助長輩創造銀髮生活價值，再創新階段人生魅力。

	</p>
	
	<img src="http://www.thsrc.com.tw/event/tmp/img/e28.jpg" alt="">
	<p style="text-align: center; margin-top: -40px">台灣高鐵協助樂齡長者一圓表演夢</p>



	<div class="articleTitle">
		<h2 class="articleTitleContent">低碳家園 環保高鐵 </h2>
	</div>
	<p>為喚起國人對於育林概念重視，台灣高鐵與「行政院農業委員會林業試驗所」及「梧桐環境整合基金會」合作，藉由「帶小樹苗去旅行」專案，將小樹苗送給旅客，2015年於台中站送出1,000棵小樹苗，2016年於桃園站、新竹站及台中站送出5,000棵小樹苗，盼藉此提醒大眾護樹養林的重要，營造更多綠意盎然。
	</p>
	
	<img src="http://www.thsrc.com.tw/event/tmp/img/e29.jpg" alt="">
	<p style="text-align: center; margin-top: -40px">2015年帶小樹苗去旅行活動照片</p>

	<img src="http://www.thsrc.com.tw/event/tmp/img/e30.jpg" alt="">
	<p style="text-align: center; margin-top: -40px">2016年帶小樹苗去旅行活動照片</p>







</article>

{% endblock %} 