<!DOCTYPE html>
<html lang="zh-tw">
<head><meta charset="utf-8" /><title>
  台灣高鐵 Taiwan High Speed Rail
</title><meta name="keywords" content="高鐵,快速,旅遊假期,遊玩" /><meta name="description" content="台灣高鐵連結台灣南北主要城市，我們不只是交通運輸業，更是推動台灣­前進的服務業；我們代表的不僅只是速度，而是速度所帶來的現代生活新態度；我們以更文明的旅行體驗，成為你實現夢想的助力，台灣高鐵，實踐台灣新生活。" />
    <!-- Facebook -->
    <meta property="og:description" content="台灣高鐵連結台灣南北主要城市，我們不只是交通運輸業，更是推動台灣­前進的服務業；我們代表的不僅只是速度，而是速度所帶來的現代生活新態度；我們以更文明的旅行體驗，成為你實現夢想的助力，台灣高鐵，實踐台灣新生活。" /><meta property="og:image" content="http://www.thsrc.com.tw/Content/logo.jpg" />
    <!--Google +1 start-->
    <meta itemprop="name" content="台灣高鐵" /><meta itemprop="description" content="台灣高鐵連結台灣南北主要城市，我們不只是交通運輸業，更是推動台灣­前進的服務業；我們代表的不僅只是速度，而是速度所帶來的現代生活新態度；我們以更文明的旅行體驗，成為你實現夢想的助力，台灣高鐵，實踐台灣新生活。" /><meta itemprop="image" content="http://www.thsrc.com.tw/Content/logo.jpg" />
    <!-- ViewPort -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <!-- For iPhone 4 -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://m.thsrc.com.tw/Content/images/icon_114x114.jpg" />
    <link rel="shortcut icon" href="http://m.thsrc.com.tw/favicon.ico" />
    <!-- CSS -->
    
<!-- Css -->

<link href="http://m.thsrc.com.tw/Content/jquery/jquery.mobile-1.4.2.css" rel="stylesheet" type="text/css" />
<link href="http://m.thsrc.com.tw/Content/jquery/jquery-data.css" rel="stylesheet" type="text/css" />
<link href="http://m.thsrc.com.tw/Content/css/base.css" rel="stylesheet" type="text/css" />


    <!-- JQuery -->
    <script type="text/javascript" src="http://m.thsrc.com.tw/Content/jquery/jquery.js"></script>
    
    <!--GA分析開始-->
    <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-9967381-18', 'thsrc.com.tw');
            ga('send', 'pageview');
            
    </script>
    <!--GA分析結尾，我的下方一定要是</head>-->
</head>
<body>
    <div data-role="page">
        <!-- Mobile Header -->
        <div data-role="header">
            

        
<a href="javascript:history.back();" data-ajax="false" class="ui-btn-left backToPage"
    data-corners="false" data-shadow="false" style="display:block">上一頁</a>
<h1>
    <img src="http://m.thsrc.com.tw/Content/images/logo_640.png" width="124" alt="台灣高鐵" /></h1>
<a class="ui-btn-right mainLinkList" href="#mainNav" data-corners="false" data-shadow="false">
    選單</a>
    <div class='commonGTitle'>利害關係人專區</div>
      
         
 <!-- Tab Menu-->
               
<!-- Tab Menu End-->


        </div>
  <!-- Mobile NEW Content -->
        <div data-role="content" class="contentFull ui-content">
            
  <span class="articleArea current"><div class="articleSection">
  {# <link href="css/frog_m.css" rel="stylesheet" type="text/css" /> #}



<!--上稿內容開始-->
<link href="http://m.thsrc.com.tw/content/css/earlybird_preferent.css" rel="stylesheet" type="text" />
<style type="text/css">
.ui-input-text input, .ui-input-search input {

    background: #FFF

}

.clear {
  clear: both; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

.questionnaire {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px; }

.questionnaire p {
  padding: 0;
  font-size: 14px; }

.questionnaire h6 {
  margin-bottom: 5px;
  margin-top: 15px;
  color: #222; }

.questionnaire .check_item {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px; }

.questionnaire .check_item label {
  font-size: 14px; }

.questionnaire .input_item {
  float: left;
  margin-right: 20px;
  width: 90%; }

.questionnaire .input_item input[type=text] {
  width: 90%;
  margin-top: 10px;
  padding: 10px;
  font-size: 13px;
  color: #222;
  border: 1px solid #c0c0c0; }

.questionnaire .input_item input::-webkit-input-placeholder {
  color: #eee;
  font-weight: 100; }

.questionnaire .input_item input:-ms-input-placeholder {
  color: #eee;
  font-weight: 100; }

.questionnaire .input_item input::placeholder {
  color: #eee;
  font-weight: 100; }

.questionnaire .input_item textarea {
  width: 90%;
  border: 1px solid #c0c0c0; }

.questionnaire table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px; }

.questionnaire table tr td {
  border: 1px solid #c0c0c0;
  padding: 8px 15px;
  font-size: 14px; }

.faq_for_half {
  width: 50%;
  float: left; }

.faq_form label {
  width: 120px; }

.submit_m {
  display: block;
  width: 100px;
  margin: 0 auto;
  padding: 5px 0;
  text-align: center;
  background-color: #888;
  color: #FFF; }

.table_m table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px; }

.table_m table tr th {
  border: 1px solid #c0c0c0;
  padding: 5px;
  font-size: 14px;
  font-weight: bolder;
  text-align: left; }

.table_m table tr td {
  border: 1px solid #c0c0c0;
  padding: 5px;
  font-size: 14px;
  text-align: left; }

.table_m table tr td p {
  margin-bottom: 0 !important; }

.table_m table tr td img {
  margin: 10px !important; }







/*=================*/
.common_content_inner h3 { margin-bottom:8px; font-size:15px; color:#db5106;}
.tb_L { width:378px;}
.tacle_set { padding-left:14px;}

.PriceList2015 table {/*強制均分表格*/
  table-layout: fixed;
}
.PriceList2015 th {/*灰底白字標題*/
  text-align: center;
  background-color: #7D7C7E;
  color: #FFF;
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: bold;
  width: 7%;
}
.PriceList2015 td {/*表格內文置中*/
  text-align: center; width: 7%;

}
.PriceList2015_2 tr:nth-child(odd) {/*偶數行灰底*/
  background-color:#F0F0F0;
}
.E4F6FF {/*藍底黑字*/
  text-align: center;
  background-color: #E4F6FF;
  color: #000;
}
.FFEBEF {/*粉底黑字*/
  text-align: center;
  background-color: #FFEBEF;
  color: #000;
}
.B7DBBA {/*綠底黑字*/
  text-align: center;
  background-color: #B7DBBA;
  color: #000;
}
.CCCCCC {/*灰底白字*/
  text-align: center;
  background-color: #CCCCCC;
  color: #FFF;
}
.FFF {/*表格註解*/
  padding-top: 6px;
  padding-bottom: 5px;
}
caption {
  font-size:1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}
.introduction{/*引言*/
  /*font-size:17px;*/
  font-size:1.2em;

  font-weight:bold;
  margin-bottom:15px;
}
.common_article {
  margin-bottom:40px;
}
.common_h2 { font-size:1.25em}
.ul_kind1 { font-size:1em; margin-top:10px}
.ul_kind1 li { padding-bottom:5px}
.ul_kind1 ul { padding-left:25px; margin-top:5px}
.ul_kind1 ul li { padding-bottom:5px; background:none; list-style-type:disc; }
.common_article a { color: #db5106; text-decoration:underline}
.common_article h3 { font-size:1.2em; padding:5px 0;}

</style>


<body>


<div class="modArticle" >
{% block page_m %}{% endblock %}
</div>
<!--上稿內容結束-->





<!-- javascript Plugin  -->
<script src="http://m.thsrc.com.tw/Content/jquery/jquery.mobile-1.4.2.min.js"></script>
<script src="http://m.thsrc.com.tw/Content/jquery/jquery-data.js"></script>
<!-- javascript Original -->
<script src="http://m.thsrc.com.tw/Content/js/init.js"></script>
<script src="http://m.thsrc.com.tw/Content/js/base.js"></script>



</body>
</html>

</html>